:root {
    --sidebar-width: 0;
    --chat-height: 1000;
    font-size: 1vw;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: auto;
}
/* *::-webkit-scrollbar {
    display: none;
} */

body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: min(max(15vw, calc(var(--sidebar-width) * 1px)), 50vw) 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header header"
                         "sidebar content"
                         "footer footer";
}
.popup {
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.popup > .create-group {
    flex: 0 1 15%;
    height: 40%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}
.popup > .create-group > .fa-window-close {
    position: absolute;
    color: white;
    top: 7px;
    right:5px;
}
.popup > .create-group > .fa-window-close:hover {
    color: #d4cccc;
    cursor: pointer;
}
.popup > .create-group > input {
    flex: 0 0 10%;
    display: block;
    width: 90%;
    margin: 20% 0;
    border: none;
    outline: none;
    padding: 0 5px;
}
.popup > .create-group > button {
    padding: 5px;
    background-color: rgba(7, 84, 199, 0.87);
    color: white;
    border-radius: 5px;
}
.predictive-list {
    border-radius: 2px;
    position: fixed;
    top: 50px;
    left: calc(10px + min(max(250px, calc(var(--sidebar-width) * 1px)), 500px));
    z-index: 2;
    border: 2px solid black;
    display: none;
}
.predictive-list > .item {
    text-align: center;
    padding: 10px 20px 10px 20px;
    height: 40px;
    border-bottom: 2px solid black;
    background-color: whitesmoke
}
.predictive-list > .item:hover {
    background-color: rgb(243, 224, 190);
}
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(7, 84, 199, 0.87);
}
.app-name {
    height: 100%;
    width: min(max(15vw, calc(var(--sidebar-width) * 1px)), 50vw);
    color: #FFF5EB;
    font-size: 2rem;
    font-weight: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}
#search {
    margin-right: auto;
    width: 40%;
    height: 75%;
    border-radius: 20px;
    padding: 0 0.8%;
    outline: none;
    font-size: 1rem;
}
.user {
    background-color: white;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.user:hover {
    cursor: pointer;
    background-color: #ccc;
}
.user-dropdown {
    background-color: skyblue;
    color: black;
    position: fixed;
    display: none;
    right: 10px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
}
.user-dropdown > ul {
    list-style: none;
    display: inline;
    text-align: center;
}
.user-dropdown > ul > li {
    padding: 5px;
    border-bottom: 2px solid black;
}
.user-dropdown > ul > li:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
.fa-user {
    font-size: 50px;
    color: rgba(7, 84, 199, 0.87);
}
.sidebar {
    overflow: auto;
    position: relative;
    grid-area: sidebar;
    background-color: #51c4d3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "friends-list"
                         "groups-list";
}

.friends-list {
    overflow-y: auto;
    grid-area: friends-list;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas: "friends-heading"
                         "friends-list";
}
.friends-list > .heading {
    grid-area: friends-heading;
}
.friends-list > .heading > h3, .groups-list > .heading > h3 {
    font-size: 1.2rem;
}
.friends-list > .list {
    grid-area: friends-list;
    overflow-y: auto;
}
.friends-list > .heading, .groups-list > .heading {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 5px solid black;
}
.friends-list > .list > div, .groups-list > .list > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom: 2px solid black;
    font-size: 1rem;
}
.friends-list > .list > div:hover, .groups-list > .list > div:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
.groups-list > .list > div > .fa-cog, .fa-phone {
    display: inline-block;
    margin: 0 5px;
}
.groups-list > .list > div > .fa-phone {
    margin:0;
}
.groups-list > .list > div > .fa-cog:hover, .fa-phone:hover {
    color:rgb(179, 177, 177);
}
.groups-list {
    overflow: auto;
    grid-area: groups-list;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas: "groups-heading"
                         "groups-list";
}
.groups-list > .heading {
    grid-area: groups-heading;
}
.groups-list > .list {
    overflow-y: auto;
    grid-area: groups-list;
}
.sidebar > .draggable {
    cursor: col-resize;
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: black;
    right: 0;
}
.content {
    grid-area: "content";
    background-color: #FFF5EB;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min(60vh, max(25vh, calc(100vh - 90px - (var(--chat-height) * 1px)))) 40px;
    grid-area: "message-area"
    "chat-area"
    "button-area";
}

.message-area {
    grid-area: "message-area";
    display: flex;
    flex-direction: column;
}
.message-area > .message {
    flex: 0 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
}
.message-area > .message > div {
    width: 30%;
    flex: 0 1 auto;
    background-color: black;
    color: white;
    word-wrap: break-word;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
.message-area > .message > textArea {
    overflow: hidden;
    resize: none;
    flex: 0 0 200px;
    background-color: black;
    color: white;
    border-radius: 0 10px 10px 10px;
    padding: 10px;
}
.input-area {
    grid-area: "chat-area";
    background-color: blue;
}
.input-area > .draggable {
    height: 2%;
    cursor: row-resize;
    background-color: #444444;
}
.chat-area {
    background-color: #444444;
    font-size: 1rem;
    outline-width: 0;
    padding: 10px;
    display: block;
    color: white;
    width: 100%;
    height: 98%;
    border: 5px solid black;
    border-top: none;
}
.button-area {
    grid-area: "button-area";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #171717;
}
#send-message {
    display: none;
    cursor: pointer;
    font-size: 1rem;
    flex: 0 0 auto;
    padding: 0 1%;
    height: 80%;
    margin-right: 10px;
    outline: none;
    border-radius: 10px;
    border-color: rgba(7, 84, 199, 0.87);
    background-color: rgba(7, 84, 199, 0.87);
    color:white;
}
.footer {
    font-size: 0.8rem;
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
